*{
  margin: 0;
  padding: 0;
}

body{
  background-color: antiquewhite;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  color: hsl(14, 45%, 36%);
}

h1,h2{
  font-family: "Young Serif", serif;
}

p,ol,ul,span{
  font-family:"Outfit", sans-serif;
  font-weight: 300;
}
h3{
  font-family:"Outfit", sans-serif;
  font-weight: 700;
}

.center-card{
  background-color: white;
  width: 700px;
  min-height: 100vh;
  border-radius: 20px;
  margin-top: 100px; 
  padding: 0 55px 30px 55px;
  margin-bottom: 70px;
}

header{
  height: 340px;
  width: 700px;
  display: flex;
  justify-content: center;
}

.main-img{
  height: 275px;
  width: 700px;
  background-image: url(./assets/images/image-omelette.jpeg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  margin-top: 45px;
  border-radius: 20px;
}
 
.center-card h1{
  margin-top: 5px;
}  

.first-paragraph{
  margin-top: 10px;
} 

.semi-card{
  background-color: hsl(330, 100%, 98%);
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.semi-card h3{
  color:hsl(332, 51%, 32%) ;
}

.semi-card ul{
  margin-top: 10px;
  margin-left: 30px;
  line-height: 30px;
}

.ingredients{
  margin-top: 20px;
  margin-bottom: 20px;
}

.ingredients ul{
  margin-top: 20px;
  line-height: 30px;
  margin-left: 25px;
}

.instructions{
  margin-top: 20px;
  margin-bottom: 20px;
}

.instructions ol{
  margin-top: 20px;
  margin-left: 25px;
  line-height: 25px;
}

.section-nutrition{
  margin-top: 20px;
}


.section-nutrition p{
  margin-top: 20px;
}


table{
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table tr td {
  border-bottom: 0.5px solid gray;
  padding-bottom: 10px;
  padding-top: 10px;
}

tr td:nth-child(2) {
  color: hsl(14, 45%, 36%);
}

td {
  padding-left: 20px;
}

.attribution{
  margin-bottom: 50px;
  margin-right: 55px;
}